package components

import (
	"github.com/myrjola/sheerluck/internal/contexthelpers"
)

templ Body(slot templ.Component, nav templ.Component) {
	if contexthelpers.IsAuthenticated(ctx) {
        @NavigationMenu(nav)
        <main class="h-full py-10 lg:pl-72">
            <div class="px-4 sm:px-6 lg:px-8">
                @slot
            </div>
        </main>
	} else {
		<main class="h-full py-10">
			<div class="px-4 sm:px-6 lg:px-8">
				@slot
			</div>
		</main>
	}
}
