package components

templ loginButton() {
    <login-button>
        @primaryButton(templ.Attributes{"id": "login-button", "type": "button"}) {
            <span>Sign in</span>
        }
    </login-button>
}
