dialog#mobilemenu {
    transition:
            translate 0.3s ease-in-out,
            transform 0.3s ease-in-out,
            overlay 0.3s ease-in-out allow-discrete,
            display 0.3s ease-in-out allow-discrete;
}

dialog#mobilemenu::backdrop {
    transition:
            opacity 0.3s linear allow-discrete,
            display 0.3s allow-discrete,
            overlay 0.3s allow-discrete;
}

@media (prefers-reduced-motion: reduce) {
    dialog#mobilemenu {
        transition: none;
    }

    dialog#mobilemenu::backdrop {
        transition: none;
    }
}
