{{- /*gotype: github.com/myrjola/sheerluck/cmd/web.investigateTargetTemplateData*/ -}}

{{ define "page" }}
    <div>
        <h1>{{.Investigation.Target.Name}}</h1>
        <p>{{.Investigation.Target.Type}}</p>
    </div>
{{ end }}
